*{
    padding: 0%;
    margin: 0;
}
.navbar img {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0;
    margin: 0;
}
.navbar nav{
    position: relative;
    display: flex;
    justify-content: space-between; 
    padding: 20px;  
}
nav h2 {
    color: white;
    margin-top: 10px;
    font-size: 30px;
}
.container ul {
    display:flex;
}
.container ul li {
    list-style: none;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    margin-right: 1rem;
}
.container ul li:hover {
    color: red;
    background-color: rgba(165, 42, 93, 0.229);
    border-radius: 20px;
    transition: all 0.3s ease;
}
nav ul a{
    text-decoration: none;  
}
a button { 
    color: white;
    background-color: rgba(0, 0, 255, 0.619);
    border: 0px;
    padding: 10px;
    border-radius: 6px;
    margin-top: 5px;
}
a button:hover {
    background-color: rgba(35, 35, 166, 0.769);
    cursor: pointer;
}
.plates {
    position: relative;
    display: grid;
    text-align: center;
    margin-top: 13rem;
}
.plates input {
    padding: 7px;
    margin: 0 33rem;
    border: 0px;
    margin-top: 10px;
}
.plates #btn1 {
    border: 1px solid white;
    color: white;
    background-color: #00000029;
    cursor: pointer;
}
.plates #btn {
    border: 1px solid whitesmoke;
    color: white;
    background-color: #00000029;
    cursor: pointer;
}
.plates .spn1 {
    margin-top: 10px;
    color: white;
    font-size: 20px;
}
.plates .spn {
    color: white;
    font-size: 45px;
}
